<!DOCTYPE html>
<html>
  <head>
    <title>The Weather Station</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script
  src="//code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
    <script src="//cdn.plot.ly/plotly-latest.min.js"></script>
    
  </head>
  <body>
    <h1>The Weather Station</h1>
    <p>Welcome to WeatherStation</p>

    <div id="tester" style="width:800px;height:400px;"></div>
    <h2>To Do List! <br></h2>
    <p>
        1. Make a restful call to flask application <br>
        2. Set list1 to datetime <br>
        3. Set list2 to temperature <br>
        4. Take these 2 lists and populate graph with them.
    </p>
    <script>
      //make server get request to pi
      $.get( "http://47.153.171.2:9000/gethistory"), function(data) {

            results = data;

            var dates = [];
            var temps = [];
            for(var i=0; i < results.length; ++i) {
            
            dates.push(results[i][0]);
            temps.push(results[i][1]);
      }
        TESTER = document.getElementById('tester');
        Plotly.plot( TESTER, [{
        x: dates,
        y: temps }], {
        margin: { t: 0 } } );
      }


      
      </script>

  </body>
</html>
